* {
  margin: 0;
  padding: 0;
}
body {
  font: 16px;
  /*设置字体的大小*/
}
h2 {
  margin: 5px 0 10px 0;
  text-align: center;
}
p,
h4 {
  text-indent: 2em;
  line-height: 2em;
  /*设置文本缩进2个字符*/
}
.container {
  margin: 5px 0 5px 0;
  text-align: center;
}
#box {
  width: 50%;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: bisque;
  border-radius: 10px;
}
