.box {
  position: relative;
  width: 490px;
  height: 276px;
  margin: 10px auto;
  background-color: skyblue;
}
.box::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3) url(image/favicon.ico) no-repeat center center;
  display: none;
}
.box:hover::after {
  display: block;
}
